<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#18191c] text-white p-10">

    <div class="read">
        <a href="/read">
            <button class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md">
                Read Users
            </button>
        </a>
    </div>


    <h1 class="text-3xl font-semibold mb-5 mt-5">
        Update User
    </h1>


    <form action="/update/<%= user._id %>" method="post" class="flex gap-2">


        <input 
            type="text" 
            name="name"
            value="<%= user.name %>"
            class="w-56 h-11 px-5 bg-[#18191c] border border-gray-700 rounded-md outline-none text-white"
        >


        <input 
            type="email" 
            name="email"
            value="<%= user.email %>"
            class="w-56 h-11 px-5 bg-[#18191c] border border-gray-700 rounded-md outline-none text-white"
        >


        <input 
            type="text" 
            name="image"
            value="<%= user.image %>"
            class="w-56 h-11 px-5 bg-[#18191c] border border-gray-700 rounded-md outline-none text-white"
        >


        <button 
            type="submit"
            class="h-11 px-6 bg-red-500 hover:bg-yellow-600 rounded-md text-white font-medium">
            Update User
        </button>


    </form>

</body>
</html>